*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary: #645c64;
    --primary-dark: #645c75;
    --grey-light: #f1f5f9;
    --grey-dark: #0f172a;
    --letter-spacing: 2px;
}

body {
    background-color: var(--grey-light);
    color: var(--grey-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

li{
    list-style-type: none;
}

/* nav */
.nav{
    height: 70px;
    background-color: rgba(255, 182, 253, 0.484);
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 90, 203, 0.66) ;
}

.nav-center{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.nav-hearder h1{
    font-size: 1rem;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.nav-links li a{
    text-decoration: none;
    color: rgba(175, 27, 202, 0.9);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7rem;

}

.nav-links li a:hover{
    color: rgb(139, 48, 224);
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 0.5px solid rgba(119, 0, 140, 0.5);
    padding-bottom: 0.6px;
}

.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    box-shadow: 0 5px rgba(119, 0, 140, 0.5);
}