/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(30, 100%, 13%);
  --clr-primary-2: hsl(22, 77%, 27%);
  --clr-primary-3: hsl(19, 72%, 37%);
  --clr-primary-4: hsl(13, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(26, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(33, 90%, 70%);
  --clr-primary-7: hsl(14, 90%, 76%);
  --clr-primary-8: hsl(10, 86%, 81%);
  --clr-primary-9: hsl(29, 90%, 88%);
  --clr-primary-10: hsl(9, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(43, 61%, 16%);
  --clr-grey-2: hsl(9, 39%, 23%);
  --clr-grey-3: hsl(26, 35%, 30%);
  --clr-grey-4: hsl(17, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(11, 22%, 49%);
  --clr-grey-6: hsl(20, 23%, 60%);
  --clr-grey-7: hsl(13, 27%, 70%);
  --clr-grey-8: hsl(21, 31%, 80%);
  --clr-grey-9: hsl(23, 32%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --primary: #645e5c;
  --grey-light: #f1f5f9;
  --grey-dark: #0f172a;
  --letter-spacing: 2px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.social-icons {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-grey-3);
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  margin-top: 2rem;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: var(--clr-primary-5);
  margin-bottom: 1.25rem;
  margin: 0 auto;
}

/* section */
.section {
  padding: 5em 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
showDemo
===============
*/

.show-classdemo{
  padding-top: 15vh;
  width: 100%;
  height: 90vh;
  background-color: rgba(255, 241, 227, 0.416);
}

/*
=============== 
Navbar
===============
*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-primary-10);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.nav-links {
  display: none;
}
.nav-btn {
  position: absolute;
  right: 1.5rem;
  font-size: 2rem;
  border-color: transparent;
  background-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
}

.nav-logo {
  width: 236px;
  height: 60px;
}

.navbar-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: var(--light-shadow);
  z-index: 5;
}

 
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  transform: translateX(-100%);
}
.sidebar .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  border-color: transparent;
  background-color: transparent;
  color: #82a1fc;
  cursor: pointer;
}
.sidebar .close-btn:hover {
  color: #6b75e6;
}
.sidebar-links a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
}
.sidebar-links a:hover {
  color: var(--clr-grey-3);
}

.show-sidebar {
  transform: translateX(0);
}

/*
=============== 
Hero
===============
*/
.hero {
  background-color: var(--clr-grey-9);
}
.hero-center {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}
.hero .underline {
  margin-left: 0;
  margin-bottom: 2rem;
  color: #82a1fc;
}
.hero h4 {
  font-size: 12px;
}
.hero-img {
  display: none;
}
.hero .social-icons {
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    display: block;
    width: 40%;
    height: 50%;
    position: relative;
    border-radius: var(--radius);
  }
  .hero-img::before {
    content: " ";
    position: absolute;
    top: 3rem;
    right: -2rem;
    width: 100%;
    height: 120%;
    border: 0.25rem solid var(--clr-grey-1);
    border-radius: var(--radius);
  }
  .hero-photo {
    max-width: 20rem;
    max-height: 25rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}
/*
=============== 
About
===============
*/
.about-center {
  display: grid;
  place-items: center;
  gap: 2rem;
}
.about-info {
  padding: 0rem;
}
.about .underline {
  margin-left: 0;
  margin-bottom: 5rem;
}
.about h4 {
  font-size: 12px;
}
.about-img {
  display: none;
}

@media screen and (min-width: 899px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    display: block;
    width: 70%;
    position: relative;
    border-radius: var(--radius);
  }

  .about-img::before {
    content: " ";
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-grey-1);
    border-radius: var(--radius);
  }
  .about-photo {
    max-width: 20rem;
    max-height: 25rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}

.about-img.1 {
  display: block;
  width: 70%;
  position: relative;
  border-radius: var(--radius);
}

/*
=============== 
Footer
===============
*/
.footer {
    background-color: rgb(255, 230, 213);
    display: grid;
    place-items: center;
  }
  .footer .social-icon {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  .footer .social-icon:hover {
    color: azure;
  }


  .hero-btn {
      position: relative;
      z-index: 1;
      top: 48px;
      min-width: 200px;
      background-color: transparent;
      border: none;
      color: #d08553;
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.5s;
      margin-top: 12px;
      padding: 12px 20px;  
    }
    .hero-btn:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 6px solid #a83800;
    }
    .hero-btn:after {
        content: " ";
        position: absolute;
        left: 5px;
        top: 5px;
        width: 100%;
        height: 100%;
        z-index: -2;
        border: 6px solid #ffbc9b;
        transition: all 0.3s 0.2s;
    }
    .hero-btn:hover {
        color: #833000;
    }
    .hero-btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
    }
    .hero-btn .inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }
    .hero-btn .inner .blob {
        position: absolute;
        top: 6px;
        width: 25%;
        height: 100%;
        background: #ffe5d7;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s;
    }
    .hero-btn .inner .blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s;
    }
    .hero-btn .inner .blob:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s;
    }
    .hero-btn .inner .blob:nth-child(3) {
        left: 60%;
        transition-delay: 0.16s;
    }
    .hero-btn .inner .blob:nth-child(4) {
        left: 90%;
        transition-delay: 0.24s;
    }
    .hero-btn:hover .inner .blob {
        transform: translateZ(0) scale(1.7);
    }