*{
    margin: 0;
    paddingg: 0;
    box-sizing: border-box;

}

:root {
    --primary: #645c64;
    --
    --grey-light: #f1f5f9;
    --grey-dark: #0f172a;
    --letter-spacing: 2px;
}

body {
    background-color: var(--grey-light);
    color: var(--grey-dark);
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

.blogs {
    padding: 3rem 0;
}

.img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
}

.section-title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.blogs-center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0.2rem;
}

.blog {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 5px 15px rgb(0, 0, 0,0.2);
}

.blog-content {
    padding: 0.5rem 0;

}

.blog-content span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    font-weight: 550;
    color: var(--primary);
}

.blog-content h3{
    font-size: 20px;
}

.blog-content p{
    font-size: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

@media screen and (min-width: 500px) {
    .blogs-center{
        grid-template-columns: repeat(2 ,1fr);
    } 
    
}

@media screen and (min-width: 800px) {
    .blogs-center{
        grid-template-columns: repeat(3 ,1fr);
    } 
    
}